<%- include('header')%>

<h1>Cactus info</h1>

<div>
    <p>Size: <%= cactus.size %></p>
    <p>Type: <%= cactus.type %></p>
</div>


<button type="button" class="btn btn-outline-danger">Kill bug</button>
<button type="button" class="btn btn-outline-secondary">Water</button>
<a href="/" class="btn btn-outline-info" role="button">Pot list</a>

<%- include('footer')%>