<%- include('header') %>

<h1>PLANT CACTUS :)</h1>

<form method="POST">
    <div class="form-group">
        <label for="cactusTypeSelect">Select type</label>
        <select id="cactusTypeSelect" class="form-control" name='cactusType'>
            <% cactusTypes.forEach(function(cactusType){ %>
            <option value="<%= cactusType %>" class="dropdown-item"><%= cactusType %></option>
            <% }); %>
        </select>
    </div>

    <input type="submit" class="btn btn-success" value="Plant cactus" />
    <a href="/" class="btn btn-outline-info" role="button">Pot list</a>
</form>

<%- include('footer') %>